<div class="row">
	<div class="col-sm-12"> 
		<h2>Website Ranking</h2>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "pull-right") %>
	</div> 
</div>
<div class="row">
	<div class="col-sm-12"> 
		<%= form_for(@domain, :url => scrap_domain_path, method: :post, :remote => true, :html =>{:id => "scrapper_form"}) do |f| %>
			<div class="form-group">
				<%= f.url_field :url, class: "form-control", placeholder: "eg: https://www.hackerearth.com", required: true %>
			</div>

			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
<div class="row">
	<div id="scrapped_content" class="col-sm-12">
	</div>
</div>